body {
margin: 0;
font-size: 2em;
background-color: white;
}

.main {
}

.track_head {
margin-left:auto;
margin-right:auto;
}

#track_title {
font-size:24px;
z-index: 20;
padding: 0px;
position: absolute;
margin-top: 20px;
top: 5px;
left: 200px;
display:none;
}

#track_seek {
display:none;
position:absolute;
bottom:4px;
left:280px;
}

#track_buttons {
z-index: 10;
bottom: 4px;
left: 0;
position: absolute;
display:none;
}

.track_button {
display:inline;
padding:1px;
}

.buttons {
 display:inline;
 list-style-type: none;
}

#track_volume {
width: 100px;
z-index: 10;
right: 45px;
bottom: 4px;
position: absolute;
display:none;
}

#seek_amount {
border:0;
color:#f6931f;
font-weight:bold;
}

#seek_slider {
width:300px;
margin-left: auto;
margin-right: auto;
}

#seek_range {
}
#seek_time {
}
#seek_divide{
}
#range{
    width:300px;
    margin-left: auto;
    margin-right: auto;
}

#vol_amount {
border:0;
color:#f6931f;
font-weight:bold;
width:40px;
position: absolute;
bottom: 0px;
right: 100px;
}

#vol_slider {
width: 200px;
margin-top: -30px;
margin-left: auto;
}


.player{
margin-left:auto;
margin-right:auto;
width:100%;
}

:-webkit-full-screen {
width: 100%;
height: 100%;
}

:-moz-full-screen {
  /* properties */
}

:-ms-fullscreen {
  /* properties */
}

:full-screen { /*pre-spec */
  /* properties */
}

:fullscreen { /* spec */
  /* properties */
}

/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
::backdrop {
  /* properties */
}
::-ms-backdrop {
  /* properties */
}
video#video{
    display:none;
    margin-left: -2%;
}
video::
video::-webkit-media-controls-fullscreen-button {}
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display{}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
video::-webkit-media-controls-volume-slider {}

