
[Desktop Entry]
Name=Beagletomb
Version=1.0
Exec=/usr/bin/beagleplayer
Comment=audio and video client
Icon=/opt/extras.ubuntu.com/beagleplayer/res/beagleplayer_icon.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Audio;AudioVideo;
Name[en_CA]=beagleplayer
Comment[en_CA]=audio and video client
