Source: beagleplayer
Section: net
Priority: extra
Maintainer: Grant Hutchinson (hutchgrant) <h.g.utchinson@gmail.com>
Build-Depends: debhelper (>= 9), qt5-default, libqt5webkit5-dev
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/beagleplayer/
Vcs-Git: git://github.com/hutchgrant/beagleplayer.git

Package: beagleplayer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt5-default, libqt5webkit5-dev
Description: beagleplayer audio and video client
 Enables any user to connect with their 
 entire media library, at the 
  click of a button.
