body {
margin: 0;
font-size: 2em;
background-color: blue;
}

.main {
}

.track_head {
margin-left:auto;
margin-right:auto;
}

#track_title {
font-size:24px;
z-index: 20;
padding: 0px;
position: absolute;
margin-top: 20px;
top: 5px;
left: 200px;
display:none;
color:white;
}

#track_seek {
display:none;
position:absolute;
bottom:4px;
left:10px;
z-index:10;
color:white;
}

#track_buttons {
z-index: 10;
bottom: 0px;
left: 0;
position: absolute;
display:none;
}

.track_button {
display:inline;
padding:2px;
 width:32px;
 min-width:32px;
 min-height:32px;
}

.buttons {
 display:inline;
 list-style-type: none;
 color:red;
 width:20px;
}

#pause {

}
#prev {

}
#play{

}
#stop{

}
#next{
}

#track_volume {
width: 100px;
z-index: 10;
left: 290px;
bottom: 4px;
position: absolute;
display:none;
}

#seek_amount {
border:0;
color:#f6931f;
font-weight:bold;
}

#seek_slider {
width:300px;
margin-left: auto;
margin-right: auto;
}

#seek_range {
}
#seek_time {
}
#seek_divide{
}
#range{
    width:300px;
    margin-left: auto;
    margin-right: auto;
}

#vol_amount {
border:0;
color:#f6931f;
font-weight:bold;
width:40px;
position: absolute;
bottom: 0px;
height:22px;
background-color:black;
}

#vol_slider {
margin-top: -30px;
bottom: 30px;
}


.player{
margin-left:auto;
margin-right:auto;
width:100%;
}
.playlist {
position:absolute;
top:15%;
left:15%;
z-index:30;
min-width:70%;
min-height:70%;
background-color:black;
color:white;
display:none;
overflow: auto;
height:70%;
width:70%;

border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
border: 4px solid #dedede;
}

/* Slider */
.ui-slider .ui-slider-handle {00:00:23/00:02:01

    width: .4em;
    height: 0.8em;
}
.ui-slider-horizontal {
        height: .3em;
}
.ui-slider-horizontal .ui-slider-handle {
        top: -.3em;
        margin-left: 0px;
}
.ui-slider-vertical {
        width: .4em;
        height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
        left: -.1em;
        margin-left: 0;
        width:10px;
}
:-webkit-full-screen {
width: 100%;
height: 100%;
}

:-moz-full-screen {
  /* properties */
}

:-ms-fullscreen {
  /* properties */
}

:full-screen { /*pre-spec */
  /* properties */
}

:fullscreen { /* spec */
  /* properties */
}

/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
::backdrop {
  /* properties */
}
::-ms-backdrop {
  /* properties */
}
video#video{
    display:none;
    position: absolute;
    z-index: 1;
    top: -123px;
}
video::
video::-webkit-media-controls-fullscreen-button {}
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display{}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
video::-webkit-media-controls-volume-slider {}

