body {
margin: 0;
font-size: 2em;
background-color: blue;
}

.track_button {
display:inline;
padding:2px;
}

.buttons {
 display:inline;
 list-style-type: none;
}

.main {
}

.track_head {
float:left;
width:100%;
}

#track_title {
width:350px;
font-size:24px;
}

.track_seek {
float:left;
}

.track_buttons {
margin-top:20px;
float:left;
width:100%;
}

.track_volume {
margin-top:20px;
float:left;
width:100%;
}

#seek_amount {
border:0;
color:#f6931f;
font-weight:bold;
}

#seek_slider {

}

#seek_range {
float:left;
}
#seek_time {
float:left;
}

#vol_amount {
border:0;
color:#f6931f;
font-weight:bold;
}

#vol_slider {

}

.player{
float:left;
}

:-webkit-full-screen {
width: 100%;
height: 100%;
}

:-moz-full-screen {
  /* properties */
}

:-ms-fullscreen {
  /* properties */
}

:full-screen { /*pre-spec */
  /* properties */
}

:fullscreen { /* spec */
  /* properties */
}

/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
::backdrop {
  /* properties */
}
::-ms-backdrop {
  /* properties */
}
video#video{
    display:none;
    margin-top: -100px;
}
video::-webkit-media-controls-fullscreen-button {}
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display{}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
video::-webkit-media-controls-volume-slider {}

